* {
    text-align: center !important;
}

#maintopic {
    color: blue;
}

h1, h3, div h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    background-color: white;
    color: cornflowerblue;
}

div button {
    color: azure;
    background-color: purple;
}

div button:hover {
    color: blue;
    background-color: yellow;
}

.content:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label {
    color: darkgreen;
}